@tailwind base;
@tailwind components;
@tailwind utilities;

/* web font - funny english */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Nerko+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Young+Serif&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.cdnfonts.com/css/sequel');
@import url('https://fonts.cdnfonts.com/css/recoleta');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/*
 * See: https://fonts.google.com/license/googlerestricted
 */
/* latin */
@font-face {
  font-family: 'Google Sans Mono';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sfzYWFYtnZ_Cg-t0Uq_rfivrdYNY1cABrBdwEoaQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Google Sans Mono';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sfzYWFYtnZ_Cg-t0Uq_rfivrdYNY1cABrBdwEoaQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Google Sans Mono';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sfzYWFYtnZ_Cg-t0Uq_rfivrdYNY1cABrBdwEoaQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Google Sans Mono';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sfzYWFYtnZ_Cg-t0Uq_rfivrdYNY1cABrBdwEoaQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Google Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sZzYWFYtnZ_Cg-t0Uq_rfivrdYNYhsAhDGVQM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Google Sans Mono';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sZzYWFYtnZ_Cg-t0Uq_rfivrdYNYhsAhDGVQM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Google Sans Mono';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sZzYWFYtnZ_Cg-t0Uq_rfivrdYNYhsAhDGVQM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Google Sans Mono';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/googlesansmono/v20/P5sZzYWFYtnZ_Cg-t0Uq_rfivrdYNYhsAhDGVQM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
  font-family: 'Love Ya Like A Sister';
  src: url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap') format('woff');
  font-weight: 100;
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: 'Staatliches';
  src: url('https://fonts.googleapis.com/css2?family=Staatliches&family=Young+Serif&display=swap') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face { 
  font-family: 'Outfit';
  src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
  font-weight: normal;
  font-style: normal;
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: 'ACCchildrenskyOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrensky.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'GOSEONGGEUMGANGNURI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GOSEONGGEUMGANGNURI.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'locus_sangsang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-google {
  font-family: 'Google Sans Mono';
}
.font-bantayog { 
  font-family: 'Bantayog';
}
.font-lineSans {
  font-family: 'LineSeedSans';
}
.font-lineKR {
  font-family: 'LineSeedKR';
}
.font-gangAll { 
  font-family: 'GangwonEduAll';
}
.font-kangT {
  font-family: 'GangwonTeun';
}
.font-kangModu { 
  font-family: 'GangwonModu';
}
.font-gangEdu { 
  font-family: 'GangwonEduPower';
}
.font-kangSae {
  font-family: 'GangwonEduSaeeum';
}
.font-cafedang {
    font-family: 'Cafe24Dangdanghae';
}
.font-hs {
    font-family: 'HSSaemaul-Regular';
}
.font-im {
    font-family:  Outfit,'IM_Hyemin-Regular';
}
.font-kangOk {
    font-family: 'GangwonOk'; 
}
.font-kotra {
    font-family: 'KOTRAHOPE';
}
.font-universe {
  font-family: 'YUniverse-B';
}
.font-cafeair {
  font-family: 'Cafe24SsurroundAir';
}
.font-become {
  font-family:  'Love Ya Like A Sister', 'Become_one';
  font-weight: 100;
}
.font-hana {
  font-family:  'Love Ya Like A Sister', 'Hana_handwriting';
}
.font-main-title { 
  font-family: ''
}
.font-g {
  font-family: 'GmarketSansMedium', Outfit;
}
.font-mbc { 
  font-family: 'MBC1961GulimM' ;
}
.font-dm { 
  font-family: "DM Mono", monospace;
}
.font-ano {
  font-family: 'Anonymous Pro', monospace;
}
.font-inco {
  font-family: 'Inconsolata', monospace;
}
.font-source { 
  font-family: 'Source Code Pro', monospace;
}
.font-out {
  font-family: 'Outfit';
  /* font-weight: bold; */
}
.font-go {
  font-family: 'GOSEONGGEUMGANGNURI' ;
  font-weight: 500;
}
.font-hak { 
  font-family: Outfit, 'HakgyoansimWoojuR';
}
.font-sta { 
  font-family: 'Staatliches';
}
.font-dm { 
  font-family: "DM Serif Display";
}
.font-nerko { 
  font-family: "Nerko One";
}
.font-guelmi {
  font-family: "Ownglyph guelmi"
}
.font-locus {
  font-family: Recoleta, "locus_sangsang";
}
.font-bayon {
  font-family: "Bayon";
}
.font-sequel {
  font-family: "Sequel";
}
.font-recoleta {
  font-family: "Recoleta", sans-serif;
}
.font-noto {
  font-family: Google Sans Mono, "Noto Sans KR", sans-serif;
}

.font-acc {
  font-family: "ACCchildrenskyOTF";
}
.font-cali {
  font-family: "Calistoga";
}

#kbar-listbox {
  font-family: "Google Sans Mono";
}

input { 
  font-family: "Google Sans Mono";
  font-size: 14px;
}

kbd {
  font-family: "Google Sans Mono";
}

/* =============================== */

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.footnotes { 
  font-family: "ACCchildrenskyOTF";
  font-size: 14px;
}

.data-footnote-backref { 
  display: none;
}

blockquote { 
  font-style: normal !important;
  font-weight: 400 !important;
  font-family: "Outfit", "HakgyoansimWoojuR" !important;
}

.issue { 
  font-family: 'KOTRAHOPE';
  /* font-family: 'GOSEONGGEUMGANGNURI'; */
  /* font-family: "Nerko One"; */
}

.issue::before { 
  content: "▶ ";
  white-space: pre-wrap;
}
/*
  ==========
  blockquote
  ==========
*/
blockquote > p {
  display:inline;
}
blockquote > p:before {
  content: none !important;
}
blockquote > p:after {
  content: none !important;
}