@font-face {
    font-family: 'Bantayog';
    src: url('../fonts/Bantayog-Light.otf');
} 

@font-face {
    font-family: 'Bantayog';
    src: url('../fonts/Bantayog-Regular.otf');
} 

@font-face {
    font-family: 'Bantayog';
    src: url('../fonts/Bantayog-Semilight.otf');
} 
@font-face {
    font-family: 'Bantayog';
    src: url('../fonts/Bantayog-Light.otf');
} 

@font-face { 
    font-family: 'iA Writer Mono S';
    src: url('../fonts/iAWriterMonoS-Italic.ttf')
}
@font-face {
    font-family: 'iA Writer Mono S-Bold';
    src: url('../fonts/iAWriterMonoS-BoldItalic.ttf')
}
 




